# File-Version: 1.1.0
GDELT_API_KEY=
RELIEFWEB_APPNAME=
MEDIA_CLOUD_API_KEY=
MEDIA_CLOUD_COLLECTION_IDS=9272347
# Configure default RSS feeds in src/config.py or pass RSSFeed objects
# directly to RSSProvider.
